          <p id="notice"><%= notice %></p>
          <h1 class="h3 mb-2 text-gray-800">新闻</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

          <!-- DataTales -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">全部新闻</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th><%= t(".title")%></th>
                      <th><%= t(".content")%></th>
                      <th><%= t(".created_at")%></th>
                      <th><%= t(".detail")%></th>
                      <th><%= t(".edit")%></th>
                      <th><%= t(".destroy")%></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th><%= t(".title")%></th>
                      <th><%= t(".content")%></th>
                      <th><%= t(".created_at")%></th>
                      <th><%= t(".detail")%></th>
                      <th><%= t(".edit")%></th>
                      <th><%= t(".destroy")%></th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <% @devlogs.each do |devlog| %>
                    <tr>
                      <td><%= devlog.title %></td>
                      <td><%= devlog.content %></td>
                      <td><%= devlog.created_at %></td>
                      <td><%= link_to 'Show', [:admin, devlog] %></td>
                      <td><%= link_to 'Edit', edit_admin_devlog_path(devlog) %></td>
                      <td><%= link_to 'Destroy', [:admin, devlog], method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
